.header {
  position: fixed;
  display: inline-block;
  top: 0px;
  left: 0px;
  border-bottom: none;
  height: 152px;
  width: 100%;
  z-index: 5;
  overflow-x: visible;
  overflow-y: visible;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}
.header .header_center_container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-top: 10px;
  clear: both;
}
.header .search_text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  background: transparent;
  border-color: #000000;
  -moz-border-color: #000000;
  -webkit-border-color: #000000;
  -moz-border-top-colors: #000000;
  -moz-border-bottom-colors: #000000;
  -moz-border-right-colors: #000000;
  width: 70%;
  height: 56px;
  margin-top: 9px;
  border-width: 3px;
  padding-left: 10px;
  color: #000000;
}
.header .search_submit {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #000000;
  border-width: 0px;
  width: 99px;
  height: 56px;
  -moz-border-top-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -moz-background: #000000;
  margin-left: -7px;
  margin-top: -2px;
}
.header .menu_ {
  font-family: "Helvenica";
  color: #000;
  font-size: 26px;
  margin-left: 3px;
  margin-top: 8px;
}
.header .menu_ li {
  float: left;
  width: auto;
  padding-left: 80px;
}
.header .menu_ li a {
  color: #000;
}
.header_product {
  margin-right: 0;
  margin-left: 0;
  background: #000000;
}
